/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
dist/.vite/manifest.json
dist/assets/css/app-CW0Rjb-Q.css
dist/assets/js/app.js-BfHEsCmv.js
.env.example
public/css/app.css
public/css/tw-elements.min.css
public/images/plc-hld.png
public/images/abilities/coder/chat-gpt.svg
public/images/abilities/coder/epic-code.svg
public/images/abilities/coder/fixed-bugs.svg
public/images/abilities/coder/had-vision.svg
public/images/abilities/coder/have-less.svg
public/images/abilities/coder/monitoring.svg
public/images/abilities/coder/much-refactoring.svg
public/images/awards/4ab0ffeb116ca0dcdc7f114853392af4.jpg
public/images/awards/21I7uQnvgjS2dg6hJEH8HgXQFBpeMSnLwKVvxv78.jpg
public/images/awards/101312.png
public/images/awards/17067808_155Z_2107.w032.n003.19A.p1.19.jpg
public/images/awards/26297435_2204_w030_n002_357b_p1_357.jpg
public/images/awards/30537785_2207_w054_n005_88b_p1_88.jpg
public/images/awards/4257785560_cff40b2db2.jpg
public/images/awards/avatar_806c4960e44d_128.jpg
public/images/awards/avatars-000246596545-bxygje-t500x500.jpg
public/images/awards/award_image1.png
public/images/awards/award_image2.png
public/images/awards/award_image3.png
public/images/awards/award_image4.png
public/images/awards/award_image5.png
public/images/awards/award_image6.jpg
public/images/awards/award_image6.png
public/images/awards/award_image7.jpg
public/images/awards/award_image7.png
public/images/awards/award_image8.jpg
public/images/awards/award_image8.png
public/images/awards/award_image9.jpg
public/images/awards/award_image10.jpg
public/images/awards/award_image11.jpg
public/images/awards/award_image12.jpg
public/images/awards/award_image13.jpg
public/images/awards/award_image14.jpg
public/images/awards/award_image15.jpg
public/images/awards/award_image16.jpg
public/images/awards/award_image17.jpg
public/images/awards/award_image18.jpg
public/images/awards/award_image19.jpg
public/images/awards/award_image20.png
public/images/awards/DALL·E 2023-07-25 12.23.21.png
public/images/awards/DALL·E 2023-07-25 12.24.10.png
public/images/awards/ebaf99e79abae30226800a3becdb5c4a.jpg
public/images/awards/Guardiansofthegalaxy_avatar_star-lord.webp
public/images/awards/Halo-4-Marine-Avatar-outfits.jpeg
public/images/awards/kiUPYU4LsctUxzjiAnkkQxzqp3JAtXSqfbG1JopM.png
public/images/awards/mmzzpm1a6pv51.webp
public/images/awards/NXogUSQdpGaKLPq6LTG0XWHtruVt9dOxPyppXtY5.jpg
public/images/awards/parbotD5bUCZ7cpRDLtMJQsf1i94PgHfNhc8a4H5.png
public/images/awards/portrait_marine2-large.jpg
public/images/awards/qGdLofhOhekEmTCMRMklj3QGr6Hx07PKDX24TrSV.png
public/images/awards/sbkBJjvYo9U4oMNqqVPxUrzR76wr65AkCBY3TFxV.png
public/images/awards/set-awards-badges-medals-achievements-games-big-gold-golden-sucess-computer-game-ui-ux-interface-design-icons-gifts-coin-142844938.webp
public/images/awards/spi-plc-hld.png
public/images/awards/vGlCDawX2GIC8EfFfM7NFrO5D4fLpIaYjc3cBn0F.jpg
public/images/badges/levels/lvl2.png
public/images/badges/levels/lvl3.png
public/images/badges/levels/lvl4.png
public/images/badges/levels/lvl5.png
public/images/badges/levels/lvl6.png
public/images/badges/levels/lvl7.png
public/images/badges/levels/lvl8.png
public/images/badges/levels/lvl9.png
public/images/badges/levels/lvl10.png
public/images/misc/KBDFA-RG106-PRO-Drone-8K-Professional-Aerial-Photography-GPS-3KM-RC-Quadcopter-3-Axis-PTZ-Brushless.jpg_.webp
public/images/misc/Lenovo-P11S-Drone-8K-5G-GPS-Professional-HD-Aerial-Photography-Dual-Camera-Omnidirectional-Obstacle-Avoidance-Quadrotor.jpg_.webp
public/images/misc/MOVESPEED-7450MB-s-SSD-NVMe-M-2-2280-4TB-2TB-1TB-Internal-Solid-State-Hard-Disk.jpg_.webp
public/images/misc/pexels-anete-lusina-5721910.jpg
public/images/misc/pexels-cottonbro-studio-4088009.jpg
public/images/misc/pexels-fernando-arcos-191877.jpg
public/images/misc/pexels-griffin-wooldridge-5613262.jpg
public/images/misc/pexels-jacoby-clarke-5249311.jpg
public/images/misc/pexels-kevin-burnell-16730034.jpg
public/images/misc/pexels-marcelo-chagas-7091923.jpg
public/images/misc/pexels-marshal-murmu-4336337.jpg
public/images/misc/pexels-matheus-bertelli-7172699.jpg
public/images/misc/pexels-nico-becker-5653947.jpg
public/images/misc/pexels-pavel-danilyuk-8294554.jpg
public/images/misc/pexels-rombo-2912980.jpg
public/images/misc/pexels-screen-post-4526471.jpg
public/images/misc/pexels-sound-on-3394659.jpg
public/images/misc/pexels-talha-irshad-5241055.jpg
public/images/misc/pexels-towfiqu-barbhuiya-11773870.jpg
public/images/misc/rocket.svg
public/images/misc/Software code testing.mp4
public/images/misc/software-development-solutions-pc.svg
public/images/misc/software-development-solutions-rct-g.svg
public/images/misc/software-development-solutions-rct-g2.svg
public/images/misc/software-development-solutions.svg
public/images/misc/software-development-solutions.webp
public/images/misc/UGREEN-M2-SSD-Case-NVME-SATA-Dual-Protocol-M-2-to-USB-Type-C-3-1.jpg_640x640.jpg
public/images/misc/xEOjgp.png
public/images/misc/illustrations/dgw.jpg
public/images/misc/illustrations/path-designer.jpg
public/images/misc/illustrations/soc-netw.jpg
public/images/misc/illustrations/tanks2d.jpg
public/js/app.js
public/js/tw-elements.umd.min.js
public/js/tw-elements.umd.min.js.map
public/js/Utils.js
public/js/tw-elements.umd.min.js
public/js/tw-elements.umd.min.js.map
public/js/tw-elements.umd.min.js
public/js/tw-elements.umd.min.js.map
public/js/tw-elements.umd.min.js
public/js/tw-elements.umd.min.js.map
public/robots.txt
public/js/tw-elements.umd.min.js
public/js/tw-elements.umd.min.js.map
